{% extends "base.html" %}

{% block content %}
  <h1>
    Cook List
    <a href="{% url 'kitchen:cook-create' %}" class="btn btn-primary link-to-page">
      Create
    </a>
  </h1>
    {% if cook_list %}
      <table>
        <tr>
          <th>Cook ID</th>
          <th>Username</th>
          <th>Last Name</th>
          <th>First Name</th>
          <th>Experience</th>
        </tr>
        {% for cook in cook_list %}
          <tr>
            <td><a href="{{ cook.get_absolute_url }}">{{ cook.id }}</a></td>
            <td>
              {{ cook.username }}{% if cook == user %} (Me){% endif %}
            </td>
            <td>{{ cook.last_name }}</td>
            <td>{{ cook.first_name }}</td>
            <td>{{ cook.years_of_experience }}</td>
          </tr>
        {% endfor %}
      </table>
  {% endif %}
{% endblock %}
